
<div class="container is-fluid">

  <div class="columns">
    <div class="column">
      <button (click)="exportMembers()" class="is-pulled-right button is-primary">
        Export Members
      </button>
    </div>
  </div>

  <div>
    <mat-form-field>
      <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="usersData" matSort>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container [ngSwitch]="user.stripe?.status">
          <mat-icon *ngSwitchCase="'trialing'"
                    matTooltip="Trialing"
                    matTooltipPosition="right"
                    class="has-text-info">alarm</mat-icon>

          <mat-icon *ngSwitchCase="'active'"
                    matTooltip="Active"
                    matTooltipPosition="right"
                    class="has-text-success">play_circle_outline</mat-icon>

          <mat-icon *ngSwitchCase="'past_due'" matTooltip="Past Due" class="has-text-warning">payment</mat-icon>
          <mat-icon *ngSwitchCase="'unpaid'" matTooltip="Unpaid" class="has-text-danger">payment</mat-icon>

          <mat-icon *ngSwitchCase="'cancelled'" matTooltip="Cancelled" class="has-text-danger">error</mat-icon>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="profileComplete">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Profile</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <mat-icon *ngIf="!user.profileComplete" class="has-text-warning" (click)="checkProfile(user, $event)">warning</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.first_name }} {{ user.last_name }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tier">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Subscription</mat-header-cell>
      <mat-cell *matCellDef="let user" class="is-capitalized"> {{ user.stripe?.tier }} ({{ user.stripe?.frequency }}) </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active_until">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Next Billing</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.active_until | date:"mediumDate" }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Joined On</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.created_at | date:"mediumDate" }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns"
             class="userRow"
             [id]="user?._id"
             (click)="showUser(user)">
      test
    </mat-row>

  </mat-table>

</div>
