<div class="container is-fluid">

  <div class="columns">

    <div class="column is-three-fifths is-offset-one-fifth">

      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>By Users</th>
          <th>By Subscriptions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Total</th>
          <td>{{ (stats$ | async)?.users.total }}</td>
          <td>{{ (stats$ | async)?.subs.total }}</td>
        </tr>

        <tr>
          <th>Joined</th>
          <td>{{ (stats$ | async)?.users.joined }}</td>
          <td>{{ (stats$ | async)?.subs.joined }}</td>
        </tr>

        <tr>
          <th>Active</th>
          <td>{{ (stats$ | async)?.users.active }}</td>
          <td>{{ (stats$ | async)?.subs.active }}</td>
        </tr>

        <tr>
          <th>Paused</th>
          <td>{{ (stats$ | async)?.users.paused }}</td>
          <td>{{ (stats$ | async)?.subs.paused }}</td>
        </tr>

        <tr>
          <th>User Cancelled</th>
          <td>{{ (stats$ | async)?.users.userCancelled }}</td>
          <td>{{ (stats$ | async)?.subs.userCancelled }}</td>
        </tr>

        <tr>
          <th>Admin Cancelled</th>
          <td>{{ (stats$ | async)?.users.adminCancelled }}</td>
          <td>{{ (stats$ | async)?.subs.adminCancelled }}</td>
        </tr>

        <tr>
          <th>Retention</th>
          <td>{{ (stats$ | async)?.users.retention }}%</td>
          <td>{{ (stats$ | async)?.subs.retention}}%</td>
        </tr>

        </tbody>
      </table>


    </div>

  </div>
</div>

