
/**
Pallete
 */
// Pallate
$green: #00C1B4;
$blue: #2C3E50;
$bg-gray: #E6EAEF;
$red: #ED6571;
$purple: #5A62B5;

// Relative
$primary: $green;
$secondary: $red;
$success: $green;
$error: darken($red, 10%);

$action: $green;
$aux: $green;
$error: #E34F30;
$danger: darken($red, 10%);

$background: $bg-gray;

// bootstrap variables
$brand-primary: $primary;
$brand-success: $success;
$brand-danger: $error;


// text
$title-color: #424242;
$copy: #424242;
$copyLight: #9c9c9c;


$copy-black: rgb(0,0,0);
$copy-dark: rgba(0,0,0,0.9);
$copy: rgba(0,0,0,0.75);
$copy-light: rgba(0,0,0,0.5);
$copy-lighter: rgba(0,0,0,0.4);

//$darkCopy: #231F20;
//$darkCopy: #263645;
//$lightCopy: #858585;


// Corporate
$white: #fff;
$black: #000;
$gray-dark: #97999B;
$gray-medium: #BBBCBC;
$gray-light: #D9D9D6;

//$gray-1: #f7f7f7;
//$gray-2: #e6e6e6;
//$gray-3: #d5d5d5;

$gray-1: #F8F8F7;
$gray-2: #E6E6E4;
$gray-3: $gray-light;
$gray-4: $gray-medium;
$gray-5: $gray-dark;

/*
Sizing
 */
$base: 16px;

$h1-size: 2rem;
$h2-size: 1.5rem;
$h3-size: 1rem;

$heading-font-family: 'Reem Kufi', sans-serif;
$content-font-family: 'Muli', sans-serif;

