
<div class="container is-fluid">

  <div class="columns">
    <div class="column is-skinny">

      <h1>
        Member
        <small>{{ (user$ | async)?.name }}</small>
      </h1>


      <h2>Account</h2>
      <div class="box">
        <div class="columns is-multiline">
          <div class="column is-6-desktop is-12-tablet">
            <img [src]="(user$ | async)?.profile_pic || 'https://my.evolvemusic.org/assets/images/avatar.png'">
          </div>
          <div class="column is-6-desktop is-12-tablet separate-blocks">
            <h5>Name</h5>
            <p>{{ (user$ | async)?.name }}</p>

            <h5>Email</h5>
            <p>
              <a [href]="'mailto:' + (user$ | async)?.email">{{ (user$ | async)?.email }}</a>
            </p>

            <h5>Phone Number </h5>
            <p> {{ (user$ | async)?.phone_number || 'None' }} </p>

            <h5>Role</h5>
            <p> {{ (user$ | async)?.role }} </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>ID</h5>
            <p>{{ (user$ | async)?._id }}</p>
          </div>
          <div class="column">
            <h5>Stripe ID</h5>
            <p> {{ (user$ | async)?.stripe?.customerId }} </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Joined On</h5>
            <p>{{ (user$ | async)?.created_at | date:"mediumDate" }}</p>
          </div>
          <div class="column">
            <h5>Last Active</h5>
            <p>{{ (user$ | async)?.last_active | date:"mediumDate" }}</p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Referred By</h5>
            <p> {{ (user$ | async)?.referredBy }} </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <a target="_blank" class="is-pulled-right button is-primary" [href]="'https://my.evolvemusic.org/app/member/' + (user$ | async)?._id">
              Go To Profile
            </a>
          </div>
        </div>
      </div>


      <h2>Subscription</h2>
      <div class="box">
        <div class="columns">

          <div class="column">
            <h5>Status</h5>
            <p>
              <ng-container [ngSwitch]="(user$ | async)?.stripe?.status">
                <div  *ngSwitchCase="'trialing'">
                  <mat-icon matTooltip="Trialing"
                            matTooltipPosition="right"
                            class="has-text-info">alarm</mat-icon>
                  Trialing
                </div>

                <div  *ngSwitchCase="'active'">
                  <mat-icon matTooltip="Active"
                    matTooltipPosition="right"
                    class="has-text-success">play_circle_outline</mat-icon>
                  Active
                </div>

                <div *ngSwitchCase="'past_due'" >
                    <mat-icon matTooltip="Past Due" class="has-text-warning">payment</mat-icon>
                  Past Due
                </div>
                <div *ngSwitchCase="'unpaid'" >
                    <mat-icon matTooltip="Unpaid" class="has-text-danger">payment</mat-icon>
                  Unpaid
                </div>

                <div *ngSwitchCase="'cancelled'" >
                    <mat-icon matTooltip="Cancelled" class="has-text-danger">error</mat-icon>
                  Cancelled
                </div>
              </ng-container>
            </p>

          </div>

          <div class="column">
            <h5>Plan</h5>
            <p class="is-capitalized"> {{ (user$ | async)?.stripe?.tier }} ({{ (user$ | async)?.stripe?.frequency }}) </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Next Billing</h5>
            <p> {{ (user$ | async)?.active_until | date:'mediumDate' }} </p>
          </div>
          <div class="column">
            <h5>Account Balance</h5>
            <p>${{ ((user$ | async)?.stripe?.accountBalance || 0) / 100 }} </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Payment</h5>
            <p>
              {{ (user$ | async)?.stripe?.card?.brand }}
              {{ (user$ | async)?.stripe?.card?.last4 }}
              <span>
                Exp:
                  {{ (user$ | async)?.stripe?.card?.expMonth }} /
                  {{ (user$ | async)?.stripe?.card?.expYear }}
              </span>
            </p>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>
