
<div class="container is-fluid" *ngIf="user$ | async; let user">

  <div class="columns">
    <div class="column is-skinny">

      <h1>
        Member
        <small>{{ user.name }}</small>
      </h1>


      <h2>Account</h2>
      <div class="box">
        <div class="columns is-multiline">
          <div class="column is-6-desktop is-12-tablet">
            <img [src]="user.profile_pic || 'https://my.evolvemusic.org/assets/images/avatar.png'">
          </div>
          <div class="column is-6-desktop is-12-tablet separate-blocks">
            <h5>Name</h5>
            <p>{{ user.name }}</p>

            <h5>Email</h5>
            <p>
              <a [href]="'mailto:' + user.email">{{ user.email }}</a>
            </p>

            <h5>Phone Number </h5>
            <p> {{ user.phoneNumber || 'None' }} </p>

            <h5>Role</h5>
            <p> {{ user.role }} </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>ID</h5>
            <p>{{ user._id }}</p>
          </div>
          <div class="column">
            <h5>Stripe ID</h5>
            <p> {{ user.stripe?.customerId }} </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Joined On</h5>
            <p>{{ user.created_at | date:"mediumDate" }}</p>
          </div>
          <div class="column">
            <h5>Last Active</h5>
            <p>{{ user.last_active | date:"mediumDate" }}</p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Referred By</h5>
            <p> {{ user.referredBy }} </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <a target="_blank" class="is-pulled-right button is-primary" [href]="'https://my.evolvemusic.org/app/member/' + user._id">
              Go To Profile
            </a>
          </div>
        </div>
      </div>


      <h2>Subscription</h2>
      <div class="box">
        <div class="columns">

          <div class="column">
            <h5>Status</h5>
            <p>
              <ng-container [ngSwitch]="user.stripe?.status">
                <div  *ngSwitchCase="'trialing'">
                  <mat-icon matTooltip="Trialing"
                            matTooltipPosition="right"
                            class="has-text-info">alarm</mat-icon>
                  Trialing
                </div>

                <div  *ngSwitchCase="'active'">
                  <mat-icon matTooltip="Active"
                    matTooltipPosition="right"
                    class="has-text-success">play_circle_outline</mat-icon>
                  Active
                </div>

                <div *ngSwitchCase="'past_due'" >
                    <mat-icon matTooltip="Past Due" class="has-text-warning">payment</mat-icon>
                  Past Due
                </div>
                <div *ngSwitchCase="'unpaid'" >
                    <mat-icon matTooltip="Unpaid" class="has-text-danger">payment</mat-icon>
                  Unpaid
                </div>

                <div *ngSwitchCase="'cancelled'" >
                    <mat-icon matTooltip="Cancelled" class="has-text-danger">error</mat-icon>
                  Cancelled
                </div>
              </ng-container>
            </p>

          </div>

          <div class="column">
            <h5>Plan</h5>
            <p class="is-capitalized"> {{ user.stripe?.tier }} </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Next Billing</h5>
            <p> {{ user.active_until | date:'mediumDate' }} </p>
          </div>
          <div class="column">
            <h5>Account Balance</h5>
            <p>${{ (user.stripe?.accountBalance || 0) / 100 }} </p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h5>Payment</h5>
            <p>
              {{ user.stripe?.card?.brand }}
              {{ user.stripe?.card?.last4 }}
              <span>
                Exp:
                  {{ user.stripe?.card?.expMonth }} /
                  {{ user.stripe?.card?.expYear }}
              </span>
            </p>
          </div>

        </div>

      </div>


      <h2>Member Credits</h2>
      <div class="box">
        <div class="columns">
          <div class="column">
            <h4>Current Balance</h4>
            <p>${{ user.credits }}</p>
          </div>
          <div class="column columns">
            <div class="column is-narrow">

              <button mat-button class="button is-info is-pulled-right" (click)="setUserCredits(user)">
                Set User Credits
              </button>
            </div>
            <div class="column is-narrow">

              <button mat-button class="button is-success is-pulled-right" (click)="createAllowance(user._id)">
                Create Allowance
              </button>
            </div>


          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h4>Upcoming Allowance</h4>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th></th>
              </tr>
              </thead>
              <tr *ngFor="let at of (allowanceTransactions$ | async) | slice:0:allowancePreview">
                <td>{{ at.runOn | date:"mediumDate" }}</td>
                <td>${{ at.amount }}</td>
                <td class="has-text-right">
                  <a (click)="editAllowance(at)">
                    <mat-icon>edit</mat-icon>
                  </a>
                </td>
              </tr>
            </table>
            <a *ngIf="(allowanceTransactions$ | async)?.length > allowancePreview" (click)="allowancePreview = Infinity">Show all...</a>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h4>Transactions</h4>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Start Balance</th>
                <th>End Balance</th>
                <th>Type</th>
                <th>Notes</th>
              </tr>
              </thead>
              <tr *ngFor="let ct of (creditTransactions$ | async) | slice:0:creditTransactionPreview">
                <td>{{ ct.created_at | date:"mediumDate" }}</td>
                <td>${{ct.startAmount}}</td>
                <td>${{ct.endAmount}}</td>
                <td>{{ ct.type }}</td>
                <td>{{ ct.meta?.notes }}</td>
              </tr>
            </table>
            <a *ngIf="(creditTransactions$ | async)?.length > creditTransactionPreview" (click)="creditTransactionPreview = Infinity">Show all...</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
